@model Metricks.Models.MetricRequestViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Metricks</h1>
    <p class="lead">Metricks is a free reaction metric calculator for synthetic chemical reactions. Currently, it can calculate Process Mass Intensity (PMI), E-Factor, Reaction Mass Efficiency (RME), and Effective Mass Yield (EMT) values from the same set of data. </p>
</div>

<div class="row">
    <h2>Inputs</h2>
    <p>
        Input the names and masses of your reagents and product. Please make sure that you are using the same mass units for all of your reagents and your product. For accurate Reaction Mass Efficiency (RME) and Effective Mass Yield (EMY) calculations, please mark whether the reagent is a reactant (involved in the equation A + B + C -> D/is consumed), and/or whether it is benign.
    </p>

    @using (Html.BeginForm("Calculate", "Home", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div id="reagentDivs">
                @Html.EditorFor(m => m.Reagents)
            </div>

            <a onclick="myCreateFunction()">Add reagent</a>

            <div>
                @Html.LabelFor(m => m.ProductName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
                @Html.LabelFor(m => m.ProductMass, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ProductMass, new { @class = "form-control" })
            </div>
            <div>
                <input type="submit" class="btn btn-default" value="Calculate" />
            </div>
        </div>

    }

    @{
        if (!string.IsNullOrEmpty(ViewBag.ResultProcessMassIntensity) || !string.IsNullOrEmpty(ViewBag.ResultEFactor) || !string.IsNullOrEmpty(ViewBag.ResultReactionMassEfficiency) || !string.IsNullOrEmpty(ViewBag.ResultEffectiveMassYield))
        {
            <h2>Results</h2>
            <div>
                <h4>Process Mass Intensity (PMI)</h4>

                @ViewBag.ResultProcessMassIntensity
            </div>
            <div>
                <h4>E-Factor</h4>

                @ViewBag.ResultEFactor
            </div>
            <div>
                <h4>Reaction Mass Efficiency</h4>

                @ViewBag.ResultReactionMassEfficiency
            </div>
            <div>
                <h4>Effective Mass Yield</h4>

                @ViewBag.ResultEffectiveMassYield
            </div>
        }
    }


</div>


<script>
    var index = @(Model.Reagents.Count - 1);

    function myCreateFunction() {
        index++;
        var newReagent = '<div><label class="control-label" for="Reagents_' + index + '__Name">Reagent name</label><input class="form-control" id="Reagents_' + index + '__Name" name="Reagents[' + index + '].Name" type="text" value=""><label class="control-label" for="Reagents_' + index + '__Mass">Reagent mass</label><input class="form-control" data-val="true" data-val-number="The field Reagent mass must be a number." data-val-required="The Reagent mass field is required." id="Reagents_' + index + '__Mass" name="Reagents[' + index + '].Mass" type="text" value="0"><label for="Reagents_' + index + '__IsReactant">Reactant</label><input data-val="true" data-val-required="The Reactant field is required." id="Reagents_' + index + '__IsReactant" name="Reagents[' + index + '].IsReactant" type="checkbox" value="true" /><input name="Reagents[' + index + '].IsReactant" type="hidden" value="false" /><label for="Reagents_' + index + '__IsBenign">Benign</label><input data-val="true" data-val-required="The Benign field is required." id="Reagents_' + index + '__IsBenign" name="Reagents[' + index + '].IsBenign" type="checkbox" value="true" /><input name="Reagents[' + index + '].IsBenign" type="hidden" value="false" /></div>'
        $("#reagentDivs").append(newReagent);
    }
</script>


